{% extends 'base.html' %}
{% block title %}
謝伃婷的網站
{% endblock %}
{% block titlemessage %}
    <h1>台灣YouTube觀看次數前五名</h1>
{% endblock %}
{% block content %}
        <table class="table table-striped">
          <tr><th>排行</th><th>影片名稱</th><th>更新時間</th></tr>
          {% for watchTW in watchTWs %}
          <tr>
            <td>{{ watchTW.id }}</td>
            <td>
              <a href="/watchTW/{{watchTW.slug}}/">{{ watchTW.title }}</a>
            </td>
            <td>
              {{ watchTW.pub_date }}
            </td>
          </tr>
          {% endfor %}
        </table>
{% endblock %}

